@charset "utf-8";
@font-face {
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
/* @keyframes dd{
    0%{transform:  scaleX(1);}
    5%, 10%{transform:  scale3d(.9, .9, .9) rotate(-3deg);}
    20%, 30%, 40%, 50%{transform:  scale3d(1.1, 1.1, 1.1) rotate(3deg);}
    25%, 35%, 45%{transform:  scale3d(1.1, 1.1, 1.1) rotate(-3deg);}
    100%{transform:  scaleX(1);}
} */
@-webkit-keyframes swing {
    0% {
      -webkit-transform: rotate(15deg);
              transform: rotate(15deg);
      -webkit-transform-origin: top center;
              transform-origin: top center;
    }
    50% {
      -webkit-transform: rotate(-15deg);
              transform: rotate(-15deg);
      -webkit-transform-origin: top center;
              transform-origin: top center;
    }
    100% {
      -webkit-transform: rotate(15deg);
              transform: rotate(15deg);
      -webkit-transform-origin: top center;
              transform-origin: top center;
    }
  }
  @keyframes swing {
    0% {
      -webkit-transform: rotate(15deg);
              transform: rotate(15deg);
      -webkit-transform-origin: top center;
              transform-origin: top center;
    }
    50% {
      -webkit-transform: rotate(-15deg);
              transform: rotate(-15deg);
      -webkit-transform-origin: top center;
              transform-origin: top center;
    }
    100% {
      -webkit-transform: rotate(15deg);
              transform: rotate(15deg);
      -webkit-transform-origin: top center;
              transform-origin: top center;
    }
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Pretendard';
}

.main_page .title{
    background-color: black;
    background: url(../img/main1.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 1080px;
}
.it1{
    position: relative;
    top:700px; left: 660px;
    -webkit-animation: swing 2.5s ease-in-out infinite;
    animation: swing 2.5s ease-in-out infinite;
}
.it2{
    position: relative;
    top:160px; left: 860px;
    -webkit-animation: swing 3.5s ease-in-out infinite;
    animation: swing 3.5s ease-in-out infinite;
    
}
.it3{
    position: relative;
    top:250px; left: 980px;
    rotate: 25deg;
    -webkit-animation: swing -3.5s ease-in-out infinite;
    animation: swing 3.5s ease-in-out infinite;
}
.it4{
    position: relative;
    top: -320px; left: 680px;
    -webkit-animation: swing -3.5s ease-in-out infinite;
    animation: swing 1.5s ease-in-out infinite;
}
.it5{
    position: relative;
    top: -360px; left: 1000px;
    -webkit-animation: swing 2.5s ease-in-out infinite;
    animation: swing 2.5s ease-in-out infinite;
}
.it6{
    position: relative;
    top: -1100px; left: 700px;
    rotate: 25deg;
    -webkit-animation: swing -1.5s ease-in-out infinite;
    animation: swing 1.5s ease-in-out infinite;
}
.it7{
    position: relative;
    top: -1100px; left: 400px;
    rotate: -25deg;
    -webkit-animation: swing 2.8s ease-in-out infinite;
    animation: swing 2.8s ease-in-out infinite;
}
.it8{
    position: relative;
    top: -1550px; left: 1050px;
    rotate: 20deg;
    -webkit-animation: swing -2.7s ease-in-out infinite;
    animation: swing 2.7s ease-in-out infinite;
}


main {
    background: url(/Main/img/main111.png);
    background-color: #fff;
}
.main_page .mid1 {
    margin-top: 272px;
    margin-bottom: 1000px;
    width: 919px;
    height: 333px;
    background-image: url(../img/bar.png);

}
.main_page .mid1 h2{
    font-size:30pt;
    margin-left: 360px;
    padding-top: 110px;
}
.main_page .section {
    width: 100%;
    height: 200px;
    display: flex;
    gap:"50px";
    margin: 180px;
    text-align: center;
}

.main_page .section h5 {
    padding-left: 20px;
    margin: 30px;
    font-size: 30pt;
}

.main_page .section p {
    color: #686868;
    margin: 20px;
    font-size: 23pt;
}

html,
body {
  position: relative;
  height: 100%;
}
.main_page .mid2 {
    width: 100%;
    height: 1000px;
}

body {
  background: rgb(255, 255, 255);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.mySwiper{
   position: relative;
   left: -300px;
   width: 1420px;
   height: 859px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: rgb(136, 83, 83);
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main_page .mid2{
    position: relative;
}
.main_page .mid2 .swiper-pagination{
    position: absolute;
    /* margin-top: 2600px;
    margin-right: 235px; */
    right: 25% !important;
}
.main_page .mid2 .swiper-pagination .swiper-pagination-bullet {
    margin: 20px !important;
    width: 15px;
    height: 15px;
    background-color: black;
}
.main_page .mid2 .swiper-pagination .swiper-pagination-bullet-active {
    transform: scale(2.0);
}


.swiper-slide:nth-child(1) {
    background: url(../img/Group59.png);
}
.swiper-slide:nth-child(2) {
    background: url(../img/pic_1.png);
}
.swiper-slide:nth-child(3) {
    background: url(../img/Pic_2.png);
}
.swiper-slide:nth-child(4) {
    background: url(../img/Pic_3.png);
}
.swiper-slide:nth-child(5) {
    background: url(../img/Pic_4.png);
}
.swiper-slide:nth-child(6) {
    background: url(../img/Pic_5.png);
}
.swiper-slide:nth-child(7) {
    background: url(../img/Group62.png);
}
.swiper-slide:nth-child(8) {
    background: url(../img/Group63.png);
}


.main_page .mid3 {
    height: 500px;
    background: url(../img/Group61.png) no-repeat right;
    margin-bottom: 600px;
}

.main_page .mid3 .section3{
    margin-left: 150px;
    
}
.main_page .mid3 h2 {
    font-size: 30pt;
    margin-left: 1000px;
    position: relative;
    top: 200px;
}
.main_page .mid3 .section2{ 
    margin-top: 30px;
    position: relative;
    right: -1200px; top: 300px
}

.main_page .mid3 .section2 p {
 font-size: 30pt;
}

.main_page .mid3 .section2 button {
    border: none;
    background-color: #fff;
    margin-top: 80px;
}
.main_page .mid4 {
    width: 100%;
    height: 200px;
    margin: 100px;
}
.main_page .mid4 p {
    text-align: center;
    margin: 20px;
    font-size: medium 20pt;
}
.main_page .mid4 .naked {
    float: left;
    margin-right: 150px;
    margin-left: 100px;
}
.main_page .mid4 .fighting {
    float: left;
    margin-right: 150px;
}
.main_page .mid4 .fresh {
    float: left;
    margin-right: 150px;
}
.main_page .mid4 .hand {
    float: left;
    margin-right: 150px;
}
.main_page .mid4 .ethical {
    float: left;
    margin-right: 150px;
}
.main_page .mid4 .begetarian {
    float: left;
    margin-right: 150px;
}
.main_page .mid4 .naked svg:hover path {
    fill: #006763;
    transition: 0.4s;
}
.main_page .mid4 .fighting svg:hover path {
    fill: #60285B;
    transition: 0.4s;
}
.main_page .mid4 .fresh svg:hover path {
    fill: #E4BD3E;
    transition: 0.4s;
}
.main_page .mid4 .hand svg:hover path {
    fill: #51558C;
    transition: 0.4s;
}
.main_page .mid4 .ethical svg:hover path {
    fill: #BA557A;
    transition: 0.4s;
}
.main_page .mid4 .begetarian svg:hover path {
    fill: #A8AF4A;
    transition: 0.4s;
}

.main_page .mid4:after{
    content: '';
    display: block;
    clear: both;
}

.gotop{
    width: 60px;
    height: 60px;
    background-color: #000;
    display: block;
    position: fixed;
    bottom: 50px; right: 50px;
    border-radius: 30px;
    border: 1px solid #777;
    z-index: 100;
    cursor: pointer;
}
.gotop span{
    position: absolute;
    width: 20px;
    height: 20px;
    border-right: 5px solid #fff;
    border-top: 5px solid #fff;
    top: 22px; left: 19px;
    transform: rotate(-45deg);
}